.Loading
{
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
	padding-top: 50%;
}

.Credits
{
	padding-top: 20%;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.CreditsImage, .CreditsPhoto
{
	display: inline-block;
	height: 3em;
	border-color: darkgrey;
	padding: 2px;
}

.CreditsPhoto
{
	border: 1px solid;
}

.CreditsInfo
{
	display: inline-block;
	font-size: 0.8em;
	margin-left: 0.5em;
	vertical-align: 1em;
}

/* --------------------- */

.Filter
{
	position: relative;
	height: 2.4em;
}

.FilterControl
{
	font-size: 0.8em;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.FilterText
{
	position: absolute;
	top: 0.2em;
	left: 0.2em;
	right: 7.8em;
	bottom: 0.2em;
	padding-bottom: 0.2em;
}

.FilterCombo
{
	position: absolute;
	top: 0.2em;
	right: 2.4em;
	bottom: 0.2em;
	width: 5em;
}

.FilterButton
{
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	bottom: 0.2em;
	width: 2em;
}

.ListNoResults
{
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
	margin-top: 50%;
	margin-bottom: 50%;
}

.ListNoResultsInfo
{
	font-size: 0.5em;
}

.Element
{
	position: relative;
	padding-left: 1em;
	background-color: #808080;
}

.Element:hover
{
	background-color: #FFFFFF;
}

.ElementName
{
	font-size: 1.5em;
}

.ElementInfo
{
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	text-align: right;
	font-size: 0.8em;
}

/* ------------------------- */

.Container
{
	text-align: left;
}

.Cocktail
{
	position: relative;
	margin-left: 1em;
	margin-right: 1em;
}

.CocktailInfo
{
	text-align: justify;
}

.CocktailNameBox
{
	position: relative;
	height: 1.8em;
}

.CocktailName
{
	position: absolute;
	Left: 0;
	Right: 0;
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
}

.CocktailVariant
{
	position: absolute;
	Top: 0.1em;
	Right: 0;
	width: 1.5em;
	height: 1.5em;
	background-color: darkgray;
}

.CocktailVariantIcon
{
	width: 100%;
	height: 100%;
}

.Iba
{
	font-size: 0.25em;
	display: inline;
}


.Glass
{
	position: absolute;
	top: 1.8em;
	right: 0;
	text-align: center;
}

.GlassImage
{
	height: 4.0em;
}

.GlassName
{
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.5em;
}

.Label
{
	display: inline;
}

.Value
{
	font-weight: bold;
	display: inline;
}

.CocktailsIngredient
{
	overflow: hidden;
}

.Ingredient
{
	position: relative;
	min-width: 16em;
}

.IngredientLandScape
{
	/*width: 50%;*/
	float: left;
}

.IngredientImage
{
	padding-left: 0.5em;
	font-size: 1em;
	height: 6.5em;
}

.IngredientImg
{
	height: 100%;
}

.IngredientName
{
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	top: 0;
	left: 4.17em;
	right: 0;
}

.IngredientQuantity
{
	font-size: 4.0em;
	text-align: center;

	position: absolute;
	left: 1.25em;
	right: 2%;
	bottom: 0;
}

.IngredientUnitMeasure
{
	width: 4em;
	text-align: right;
	position: absolute;
	right: 0.5em;
	bottom: 0;
}

.IngredientQuantityNoCL
{
	color: darkgray;
	text-align: center;
}

/* editor */

.EditorSeparator
{
	height: 2px;
	background: darkgray;
	margin-top: 0.2em; 
}

.EditorGroup
{
	margin-left: 1em; 
	margin-right: 1em; 
}

.SettingsLabel
{
	display: inline-block;
	width: 40%;
}

.SettingsControl
{
	display: inline-block;
	width: 60%;
}

.EditorButton
{
	padding-top: 0.2em;
	text-align: center;
	margin-top: 0.2em;
	margin-left: 60%;
	margin-right: 0%;
	width: 40%;
	background-color: darkgray;
}

.EditorButton:hover
{
	background-color: white;
}

.EditorButtonImage
{
	width: 1em;
	height: 1em;
}

#EditorGlassImage
{
	height: 3em;
}

#EditorGarnish
{
	width: 100%;
}

.EditorCocktailName
{
	font-size: 1.5em;
	font-weight: bold;
}

.EditorGlass
{
	top: 3.05em;
}

.EditorIngredientRigth
{
	position: relative;
	margin-right: 1em;
}

.EditorIngredientControl
{
	font-size: 1em;
	height: 100%;
	width: 100%;
}

.EditorControl
{
	vertical-align: text-top;
}

.EditorSplit
{
	height: 0.5em;
}

.EditorIngredientImage
{
	padding-left: 0.5em;
	font-size: 1em;
	height: 6.8em;
}

.EditorIngredientQuantity
{
	font-size: 4.0em;
	position: absolute;
	left: 1.25em;
	right: 0;
	bottom: 0;
}

.EditorIngredientUnitMeasure
{
	position: absolute;
	right: 0;
	bottom: 0;
}

